body {
  background-color: pink;
}

#container {
  width: 80%;
  margin: auto;
  font-family: Arial, sans-serif;
}

#link-container-1 a {
  display: block;
  color: white;
  background-color: hotpink;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#link-container-2 a {
  display: block;
  color: white;
  background-color: lightblue;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#link-container-1 a:hover {
  background-color: purple;
}

#link-container-2 a:hover {
  background-color: purple;
}
