body {
  background-color: pink;
}

#container {
  width: 60%;
  margin: auto;
  font-family: Arial, sans-serif;
}

#link-container a {
  display: block;
  color: black;
  background-color: lightblue;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#link-container a:hover {
  background-color: lavender;
  color: black;
}

